@mixin gradient($top_color: #ffffff, $bottom_color: #ececec) {
  background:$top_color; /* Old browsers */
  background:-moz-linear-gradient(top, $top_color 0%, $bottom_color 100%); /* FF3.6+ */
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,$top_color), color-stop(100%,$bottom_color)); /* Chrome,Safari4+ */
  background:-webkit-linear-gradient(top, $top_color 0%,$bottom_color 100%); /* Chrome10+,Safari5.1+ */
  background:-o-linear-gradient(top, $top_color 0%,$bottom_color 100%); /* Opera 11.10+ */
  background:-ms-linear-gradient(top, $top_color 0%,$bottom_color 100%); /* IE10+ */
  background:linear-gradient(top, $top_color 0%,$bottom_color 100%); /* W3C */
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#{ie-hex-str($top_color)}', endColorstr='#{ie-hex-str($bottom_color)}',GradientType=0 ); /* IE6-9 */
}

@mixin gradient-disabled {
  background:none;
  filter:progid:DXImageTransform.Microsoft.gradient( enabled = false );
}